QWidget {
	background-color: #444444; 
	color: white;
	font-family: Consolas;
}

QCheckBox:indicator:checked {
	background-color: #73ad21;
	border-radius: 2px;
	border: 4px solid #2b2b2b;
}

QCheckBox:indicator:unchecked {
	background-color: #2b2b2b;
}

QRadioButton:indicator:checked { 
	font-weight:bold;	
	background-color: #73ad21;
	border-radius: 10px;
	border: 3px solid #2b2b2b;
}

QRadioButton:indicator:unchecked { 
	background-color: #2b2b2b;
	border-radius: 10px;
	border: 3px solid #2b2b2b;
}

QLineEdit { 
	background-color: #2b2b2b; 
	color: #dddddd;
	border: 1px solid #292929;
}

QLineEdit:disabled {
	background-color: #555555;
	color: black;
}

QComboBox{
	background-color: #2b2b2b;
	color: #dddddd;
	border: 1px solid #292929;
}

QSpinBox {
	background-color: #4A5663;
}

QHeaderView { 
	background-color: #2b2b2b; 
}

QHeaderView::section { 
	background-color: #2b2b2b; 
}

QPushButton{
	background-color:#595a5c;
	font-weight:bold;
}

QTextEdit {
	background-color: #2b2b2b;
	border: 1px solid #292929;
	color: #dddddd;
}

QTextEdit:disabled {
	color: #777777;
}

QTabBar:tab{
	border-radius: 2px;
	min-width: 10px;
	padding: 5px;
	background-color: #292929;
	color: #8a8a8a;
}

QTabBar:tab:selected {
	background-color: #444444;
	border-left: 1px solid #8b8b8b;
	border-right: 1px solid #8b8b8b;
	border-top: 1px solid #8b8b8b;
	font-weight: bold;
	color: white;
}

QTableWidget {
	background-color: #2b2b2b;
	border: 1px solid #292929;
}

QTableWidget::item:selected {
   background-color: #5285a6; 
}

QTableView QTableCornerButton:section {
	background-color: #2b2b2b;
	border: 1px solid #292929;
}        

QTabWidget::pane {
	border: 1px solid #292929;
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
}

QTreeView::item {
   background-color: #2b2b2b;
   border-left: 1px solid rgb(40,40,40);
}

QTreeWidget {
	background-color: #2b2b2b;
}

QTreeWidget::item:selected { 
	background-color: #5285a6; 
	color: white;
}

QListWidget{
	background-color: #2b2b2b;
	border: 1px solid #292929;
	color: white; 
}

QListWidget::item:selected { 
	background-color: #5285a6; 
}

QGroupBox {
	background-color: #292929; 
	border: 1px solid #292929; 
}

QGroupBox:title {
	subcontrol-origin: margin;
	subcontrol-position: top left;
}

QMenu {
	background-color: #333333;
}

QMenu::item {
	spacing: 3px;
	padding: 2px 10px;
	color: white;  
	border-radius: 5px;
}

QMenu::item:selected {
	background-color: #5285A6;
}

QProgressBar{
	border: 1px solid #292929;
	border-radius: 5px;
	text-align: center;
	color: white;
	background-color: #292929;
	font-weight: bold
}

QProgressBar::chunk {
	background-color: green;
	width: 10px;
	margin: 1px;
}

QScrollBar {
	background-color: #3b3b3b;
}
